.portfolio {
  padding: 0 70px 125px 70px;
}

.portfolio__title {
  margin: 0;
  color: #a0a0a0;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.portfolio__list {
  margin: 50px 0 0 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.portfolio__list-item {
  width: 100%;
  padding: 0 0 19px 0;
  border-bottom: 1px solid #e8e8e8;
}

.portfolio__link { 
  text-decoration: none;
  color: #000;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  display: flex;
  justify-content: space-between;
  transition: opacity 0.3s ease;
}

.portfolio__link-icon {
  margin-top: 3px;
  margin-right: 6px;
  max-width: 29px;
  max-height: 60px;
  object-fit: contain;
}

.portfolio__list-item:last-child {
  border-bottom: none;
}

.portfolio__list-item:last-child {
  padding: 0;
}

/* Адаптив  */

@media screen and (min-width: 769px) {
  .portfolio__link:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 0 50px 90px;
  }

  .portfolio__link {
    font-size: 28px;
  }
}

@media screen and (max-width: 425px) {
  .portfolio {
    padding: 0 14px 70px;
  }

  .portfolio__title {
    font-size: 14px;
  }

  .portfolio__list {
    margin: 40px 0 0 0;
  }

  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__link-icon {
    margin: 0 4px 0 0;
    max-width: 11px;
    max-height: 25px;
  }
}
