.header {
  background-color: #dddee3;
  padding: 18px 70px;
  display: flex;
  align-items: center;
}

.header__logo {
  min-width: 38px;
  min-height: 38px;
}

.header__logo-link {
  margin: 0 45px 0 0;
  font-size: 0;
  text-decoration: none;
}